<div class="container">
  <h3 class="titulo text-center">
    Actualizar Programación <strong>{{ programmingTitle }}</strong>
  </h3>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8">
      <form
        [formGroup]="updateProgramForm"
        (ngSubmit)="saveProgramationUpdate()"
      >
        <label class="form-label" for="image"
          ><strong>Foto de Recibo</strong></label
        >
        <div class="mb-3">
          <input
            type="file"
            multiple="false"
            name="fotoRecibo"
            formControlName="fotoRecibo"
            class="form-control"
            id="image"
            (change)="uploadFileEvt($event)"
          />
        </div>

        <div *ngIf="embudo === '7'">
          <label class="form-label" for="image"
            ><strong>Constancia Escombrera</strong></label
          >
          <div class="mb-3">
            <input
              type="file"
              multiple="false"
              name="archivoEscombrera"
              formControlName="archivoEscombrera"
              class="form-control"
              id="image"
              (change)="cargarArchivoEscombrera($event)"
            />
          </div>
        </div>

        <div class="input-group mt-3">
          <span class="input-group-text" id="basic-addon1"
            >Numero De Recibo</span
          >
          <input
            type="number"
            name="numRecibo"
            formControlName="numRecibo"
            class="form-control"
            aria-label="factura"
            aria-describedby="basic-addon1"
          />
        </div>

        <div *ngIf="embudo === '9'" class="input-group mt-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Stand By</label
          >
          <select class="form-select" formControlName="standByField">
            <option value="81">Si</option>
            <option value="83">No</option>
            <option value="87">N/A</option>
          </select>
        </div>

        <div *ngIf="embudo === '9'" class="mt-3 border rounded p-2">
          <label>Horas de Stand By:</label>
          <span> {{ horasStandBy }}</span>
        </div>

        <div *ngIf="showInput(embudo, 'horometroInicial')">
          <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon2"
              >Horometro Inicial</span
            >
            <input
              type="number"
              name="horometroInicial"
              formControlName="horometroInicial"
              class="form-control"
              aria-label="Horometro Inicial"
              aria-describedby="basic-addon1"
            />
          </div>
          <span *ngIf="!validarHorometroInicial" class="text-danger"
            >¡ El valor del horometro inicial no puede ser menor a cero !</span
          >
        </div>

        <div *ngIf="showInput(embudo, 'horometroFinal')">
          <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon3"
              >Horometro Final</span
            >
            <input
              type="number"
              name="horometroFinal"
              formControlName="horometroFinal"
              class="form-control"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <span *ngIf="!validarHorometro" class="text-danger"
            >¡ El valor del horometro final no puede ser menor al valor del
            horometro inicial !</span
          >
        </div>

        <div class="input-group mt-3" *ngIf="embudo === '7'">
          <span class="input-group-text" id="basic-addon4">Cantidad</span>
          <input
            type="number"
            name="cantidad"
            formControlName="cantidad"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div
          class="mt-3 border rounded p-2"
          *ngIf="embudo === '9'"
          [ngClass]="{ 'border-danger': cantidadHoras <= 0 }"
        >
          <label>Cantidad de horas:</label>
          <span> {{ cantidadHoras }}</span>
        </div>
        <span
          *ngIf="
            embudo === '9' &&
            cantidadHoras <= horasStandBy &&
            horasStandBy > 0 &&
            valorStandBy
          "
          class="text-secondary"
          >Se aplicaron las horas de Stand By</span
        >

        <div *ngIf="embudo === '9'" class="input-group mt-3">
          <label class="input-group-text" for="inputGroupSelect01"
            >Estado</label
          >
          <select class="form-select" formControlName="state">
            <option value="299">Activa</option>
            <option value="301">Finalizada</option>
          </select>
        </div>

        <div class="form-check mt-3" *ngIf="embudo !== '9'">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="gastos"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Reportar Gastos
          </label>
        </div>

        <div *ngIf="bills">
          <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon4">Anticipo</span>
            <input
              type="number"
              name="anticipo"
              formControlName="anticipo"
              class="form-control"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon4"
              >Valor De La Factura (Sin IVA)</span
            >
            <input
              type="number"
              name="valorFactura"
              formControlName="valorFactura"
              class="form-control"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="mt-3">
            <label><strong>Conseptos Gasto</strong></label>
            <ng-select
              [multiple]="true"
              placeholder="Seleccione los conceptos"
              formControlName="concepto"
            >
              <ng-option *ngFor="let gasto of gastos" [value]="gasto.ID">
                {{ gasto.VALUE }}
              </ng-option>
            </ng-select>
          </div>
          <div class="form-floating mt-3">
            <select
              class="form-select"
              id="floatingSelect"
              aria-label="Floating label select example"
              formControlName="empleado"
            >
              <option value="">-- Seleccione Un Responsable --</option>
              <option *ngFor="let empleado of empleados" [value]="empleado.ID">
                {{ empleado.VALUE }}
              </option>
            </select>
            <label for="floatingSelect">Responsable</label>
          </div>
          <label class="form-label mt-3" for="image"
            ><strong>Constancia Gastos</strong></label
          >
          <div class="mb-3">
            <input
              type="file"
              multiple="false"
              name="archivoGasto"
              formControlName="archivoGasto"
              class="form-control"
              id="image"
              (change)="cargarArchivoGastos($event)"
            />
          </div>
        </div>

        <div class="row justify-content-between mt-5 mb-5 mx-1">
          <a
            [routerLink]="['/programming/result-search']"
            [queryParams]="{ placa: placa }"
            class="btn btn-outline-primary col-4 col-md-3"
            >Regresar</a
          >
          <button
            type="submit"
            class="btn btn-outline-danger col-4 col-md-3"
            [disabled]="activarBoton && embudo === '9'"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="container">
  <span>Prueba</span>
  <pre>{{ updateProgramForm.value | json }}</pre>
</div> -->
